# Mac OS
.DS_Store

# IDEA
out/
*.class
.idea/
*.iml
*.iws
*.ipr

# Gradle
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
.gradle
build/

# Packages
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar